/* Additional particle styles beyond index.css */
.particles {
    perspective: 1000px;
}

.particle {
    will-change: transform, opacity;
}

/* Star-like particles */
.particle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background: inherit;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.particle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background: inherit;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}